@model IEnumerable<BricksMeatballs.Models.FinancialModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.applicantStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.residency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numProperties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numLoans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monthlyFixedIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monthlyVariableIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cashTowardsDownPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpfOrdinaryAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creditMinPayments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.otherHomeLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.otherLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.propertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loanTenure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.applicantStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.residency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numProperties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numLoans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monthlyFixedIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monthlyVariableIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cashTowardsDownPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpfOrdinaryAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditMinPayments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.otherHomeLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.otherLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.propertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loanTenure)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
