@model BricksMeatballs.Models.FinancialModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .FinancialCal {
        background-position: 0% 50%;
        background-image: url('../../images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 100%;
        position: relative;
        opacity: 0.7;
        padding: 7%;
        color: white;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .button {
        padding-left: 5%;
    }

    body {
        padding-top: 31px;
        padding-bottom: 80px;
    }

    fieldset {
        padding-left: 5%;
        padding-right: 5%;
    }

    .control-label {
        font-weight: 300;
        font-size: 12px;
    }

    h4 {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10px;
        font-weight: 700;
    }

    .panel {
        border: hidden;
    }
</style>


<div class="FinancialCal">Financial Calculator</div>
<div class="container-fluid" style="margin-top: -40px">
    <div class="row">
        <br />
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-primary panel-transparent">
                <div class="panel-body">
                    <div class='panel-heading panel-relative'>
                        <form asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h4>Applicant Information</h4>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Age" class="control-label"></label>
                                        <input asp-for="Age" class="form-control" placeholder="Age" type="number" min="0" value="@Model.Age"/>
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Residency " class="control-label"></label>
                                        <select asp-for="Residency" class="form-control" value="@Model.Residency">
                                            <option value="Singaporean">Singaporean</option>
                                            <option value="PR">Permanent Resident</option>
                                            <option value="Foreigner">Foreigner</option>
                                        </select>
                                        <span asp-validation-for="Residency" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <h4>Properties Owned</h4>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="NumProperties" class="control-label"></label>
                                        <input asp-for="NumProperties" class="form-control" placeholder="Number of Properties" min="0" value="@Model.NumProperties" />
                                        <span asp-validation-for="NumProperties" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="NumLoans" class="control-label"></label>
                                        <input asp-for="NumLoans" class="form-control" placeholder="Number of Home Loans" min="0" value="@Model.NumLoans" />
                                        <span asp-validation-for="NumLoans" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <h4>Monthly Income</h4>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="MonthlyFixedIncome" class="control-label"></label>
                                        <input asp-for="MonthlyFixedIncome" placeholder="Monthly Fixed Income" class="form-control" type="number" min="0" value="@Model.MonthlyFixedIncome" />
                                        <span asp-validation-for="MonthlyFixedIncome" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="MonthlyVariableIncome" class="control-label"></label>
                                        <input asp-for="MonthlyVariableIncome" placeholder="Monthly Variable Income" class="form-control" type="number" min="0" value="@Model.MonthlyVariableIncome" />
                                        <span asp-validation-for="MonthlyVariableIncome" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <h4>Available Funds</h4>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Cash" class="control-label"></label>
                                        <input asp-for="Cash" placeholder="Cash Towards Down Payment" class="form-control" type="number" min="0" value="@Model.Cash" />
                                        <span asp-validation-for="Cash" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="Cpf" class="control-label"></label>
                                        <input asp-for="Cpf" placeholder="CPF Ordinary Account" class="form-control" type="number" min="0" value="@Model.Cpf" />
                                        <span asp-validation-for="Cpf" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <h4>Monthly Commitments</h4>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="Credit" class="control-label"></label>
                                        <input asp-for="Credit" placeholder="Minimum Credit Payments" class="form-control" type="number" min="0" value="@Model.Credit" />
                                        <span asp-validation-for="Credit" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="CarLoan" class="control-label"></label>
                                        <input asp-for="CarLoan" placeholder="Car Loan" class="form-control" type="number" min="0" value="@Model.CarLoan" />
                                        <span asp-validation-for="CarLoan" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label asp-for="OtherHomeLoan" class="control-label"></label>
                                        <input asp-for="OtherHomeLoan" placeholder="Other Home Loans" class="form-control" type="number" min="0" value="@Model.OtherHomeLoan" />
                                        <span asp-validation-for="OtherHomeLoan" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label asp-for="OtherLoan" class="control-label"></label>
                                        <input asp-for="OtherLoan" placeholder="Car Loan" class="form-control" type="number" min="0" value="@Model.OtherLoan" />
                                        <span asp-validation-for="OtherLoan" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <h4>Additional Information</h4>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label asp-for="PropertyType" class="control-label"></label>
                                        <select asp-for="PropertyType" class="form-control" value="@Model.PropertyType">
                                            <option value="HDB">HDB</option>
                                            <option value="EC">Executive Condominium</option>
                                            <option value="Private">Private</option>
                                        </select>
                                        <span asp-validation-for="PropertyType" class="text-danger"></span>
                                    </div>
                                    <div class="form-group  col-md-4">
                                        <label asp-for="LoanTenure" class="control-label"></label>
                                        <input asp-for="LoanTenure" class="form-control" placeholder="Loan Tenure" type="number" min="4" max="35" value="@Model.LoanTenure" />
                                        <span asp-validation-for="LoanTenure" class="text-danger"></span>
                                    </div>
                                    <div class="form-group  col-md-4">
                                        <label asp-for="InterestRate" class="control-label"></label>
                                        <input asp-for="InterestRate" class="form-control" placeholder="Interest Rate" type="number" min="0.1" max="4" step="0.1" value="@Model.InterestRate" />
                                        <span asp-validation-for="InterestRate" class="text-danger"></span>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group button">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}