@model IEnumerable<BricksMeatballs.Models.FinancialModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumProperties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumLoans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyFixedIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyVariableIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashTowardsDownPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfOrdinaryAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditMinPayments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherHomeLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanTenure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumProperties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLoans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyFixedIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyVariableIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashTowardsDownPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfOrdinaryAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditMinPayments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherHomeLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTenure)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
