@model BricksMeatballs.Models.FinancialModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Financial Calculator</h1>

<div>
    <hr />
    <h4>Calculated Results</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            TDSR Limit
        </dt>
        <dd class="col-sm-2">
            @Model.TDSRLimitDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            MSR Limit
        </dt>
        <dd class="col-sm-2">
            @Model.MSRLimitDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            Limit After Expenses
        </dt>
        <dd class="col-sm-2">
            @Model.MaxMonthlyPaymentDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            Maximum Bank Loan
        </dt>
        <dd class="col-sm-2">
            @Model.MaxBankLoanDisplay()
        </dd>
    </dl>
</div>
<div>
    <hr />
    <h4>Entered Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApplicantStatus)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.ApplicantStatus)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Residency)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Residency)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumProperties)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.NumProperties)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NumLoans)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.NumLoans)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MonthlyFixedIncome)
        </dt>
        <dd class="col-sm-2">
            @Model.MonthlyFixedIncomeDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MonthlyVariableIncome)
        </dt>
        <dd class="col-sm-2">
            @Model.MonthlyVariableIncomeDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cash)
        </dt>
        <dd class="col-sm-2">
            @Model.CashDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-2">
            @Model.CpfDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd class="col-sm-2">
            @Model.CreditDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CarLoan)
        </dt>
        <dd class="col-sm-2">
            @Model.CarLoanDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OtherHomeLoan)
        </dt>
        <dd class="col-sm-2">
            @Model.OtherHomeLoanDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OtherLoan)
        </dt>
        <dd class="col-sm-2">
            @Model.OtherLoanDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.PropertyType)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LoanTenure)
        </dt>
        <dd class="col-sm-2">
            @Model.LoanTenureDisplay()
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class="col-sm-2">
            @Model.InterestRateDisplay()
        </dd>
    </dl>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
